<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <ul class="navbar-nav">
    <a class="navbar-brand" routerLink=""> PokeAPI </a>
      <li class="nav-item">
        <a class="nav-link custom-link1" routerLink="pokemon">Pokemon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-link1" routerLink="item">Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-link1" routerLink="berry">Berry</a>
      </li>
    </ul>
  </div>
</nav>

<app-main></app-main>
